<h1>Editing campground</h1>

<%= render "form", campground: @campground %>

<br>

<div>
  <%= link_to "Show this campground", @campground %> |
  <%= link_to "Back to campgrounds", campgrounds_path %>
</div>
